{% extends "base.html" %}
{% block title %}Organizations{% endblock %}
{% block content %}
<div class="grid simple horizontal green">
    <div class="grid-title">
        <h4>Overview</h4>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="#grid-config" data-toggle="modal" class="config"></a>
            <a href="javascript:;" class="reload"></a>
            <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="grid-body">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Abbreviation</th>
            </tr>
            </thead>
            <tbody>
            {% for organization in organization_list.all %}
                <tr>
                    <td><a href="{% url 'organization_detail' organization.id %}">{{ organization.name }}</a></td>
                    <td>{{ organization.abbreviation }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>

    <div class="container" align="center">
        <ul class="pagination pagination-sm">
            {% if page_obj.has_previous %}
                <li><a href="./?page={{ page_obj.previous_page_number }}">&larr;</a>
                    {% else %}
                <li class="disabled"><a>&larr;</a>
            {% endif %}

            {% for num in page_obj.leading_range %}
                <li><a href="?page={{ num }}">{{ num }}</a></li>
            {% endfor %}

            {% for num in page_obj.main_range %}
                {% if num != service_list.number %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% else %}
                    <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}

            {% for num in page_obj.trailing_range %}
                <li><a href="?page={{ num }}">{{ num }}</a></li>
            {% endfor %}


            {% if page_obj.has_next %}
                <li><a href="./?page={{ page_obj.next_page_number }}">&rarr;</a>
                    {% else %}
                <li class="disabled"><a>&rarr;</a>
            {% endif %}
        </ul>
    </div>
{% endblock %}