{% extends "base.html" %}
{% block title %}{{ device.name }}{% endblock %}
{% block content %}
        <div class="grid simple horizontal green">
    	    <div class="grid-title">
	    	    <h4><i class="fa fa-inverse fa-info-circle fa-2x"></i>General</h4>
		        <div class="tools">
                    <a class="collapse" href="javascript:;"></a>
                    <a class="config" data-toggle="modal" href="#grid-config"></a>
                    <a class="reload" href="javascript:;"></a>
                    <a class="remove" href="javascript:;"></a>
       	    	</div>
	        </div>
	        <div class="grid-body">
                  <dl class="dl-horizontal">
                  <dt>Name</dt>
                  <dd>{{ device.name }}</dd>
                  <dt>Hostname</dt>
                  <dd>{{ device.hostname }}</dd>
                  <dt>Description</dt>
                  <dd>{{ device.description }}</dd>
                  <dt>Category</dt>
                  <dd>{{ device.category }}</dd>
                  <dt>Type</dt>
                  <dd>{{ device.device_type }}</dd>
                  <dt>Manufacturer</dt>
                  <dd>{{ device.manufacturer }}</dd>
                  <dt>Serial</dt>
                  <dd>{{ device.serial }}</dd>
                  <dt>Location</dt>
                  <dd>{{ device.location }}</dd>
                  <dt>IP Address</dt>
                  <dd>{{ device.ip }}</dd>
                  <dt>Software Version</dt>
                  <dd>{{ device.software_version }}</dd>
                  <dt>Creation date</dt>
                  <dd>{{ device.creation_date }}</dd>
                  <dt>Last updated</dt>
                  <dd>{{ device.last_modified }}</dd>
                  <dt>Status</dt>
                  <dd>{{ device.status.name }}</dd>
                  </dl>
            </div>
        </div>
{% endblock %}