{% extends "base.html" %}
{% block title %}Devices{% endblock %}
{% block content %}


<div class="grid simple horizontal green">
    <div class="grid-title">
        <h4>Overview</h4>
        <div class="tools">
            <a href="javascript:;" class="collapse"></a>
            <a href="#grid-config" data-toggle="modal" class="config"></a>
            <a href="javascript:;" class="reload"></a>
            <a href="javascript:;" class="remove"></a>
        </div>
    </div>
    <div class="grid-body">
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Hostname</th>
                <th>Device Type</th>
                <th>Manufacturer</th>
                <th>Serial</th>
                <th>Location</th>
                <th>IP Address</th>
                <th>Software Version</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for device in device_list.all %}
                <tr>
                    <td><a href="{% url 'device_detail' device.name %}">{{ device.name }}</a></td>
                    <td>{{ device.hostname }}</td>
                    <td>{{ device.device_type }}</td>
                    <td>{{ device.manufacturer }}</td>
                    <td>{{ device.serial }}</td>
                    <td>{{ device.location }}</td>
                    <td>{{ device.ip }}</td>
                    <td>{{ device.software_version }}</td>
                    <td>{{ device.status.name }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    </div>
</div>

    <div class="container" align="center">
        <ul class="pagination pagination-sm">
            {% if page_obj.has_previous %}
                <li><a href="./?page={{ page_obj.previous_page_number }}">&larr;</a>
                    {% else %}
                <li class="disabled"><a>&larr;</a>
            {% endif %}
            {% for num in page_obj.leading_range %}
                <li><a href="?page={{ num }}">{{ num }}</a></li>
            {% endfor %}
            {% for num in page_obj.main_range %}
                {% if num != service_list.number %}
                    <li><a href="?page={{ num }}">{{ num }}</a></li>
                {% else %}
                    <li class="active"><a href="?page={{ num }}">{{ num }}</a></li>
                {% endif %}
            {% endfor %}
            {% for num in page_obj.trailing_range %}
                <li><a href="?page={{ num }}">{{ num }}</a></li>
            {% endfor %}
            {% if page_obj.has_next %}
                <li><a href="./?page={{ page_obj.next_page_number }}">&rarr;</a>
                    {% else %}
                <li class="disabled"><a>&rarr;</a>
            {% endif %}
        </ul>
    </div>
{% endblock %}