Django==1.7.10
SOAPpy==0.12.5
argparse==1.2.1
dj-database-url==0.2.2
django-configurations==0.8
django-digg-paginator==0.1.2
django-taggit==0.12.2
fpconst==0.7.2
python-dateutil==2.4.2
suds==0.4
wsgiref==0.1.2
wstools==0.4
celery==3.1.18
django-bower==4.8.1
django-nvd3==0.6.0
python-nvd3==0.11.0
django-bootstrap3==5.0.3
djangorestframework==3.0.0
django-braces==1.4.0
django-haystack==2.1.0
django-filter==0.11.0
pyelasticsearch==0.6.1
numpy==1.10.0.post2
pandas==0.16.2
pytz==2015.6
six==1.10.0
psycopg2
